<!DOCTYPE html>
<html>
<head>
    <title>Weather Information</title>
</head>
<body>
    <!-- data that is fetched from an api  -->
    <!-- <h1>Weather Information</h1>
    {% if observation %}
        <p>Observation Time: {{ observation.observationTimeUtc }}</p>
        <p>Air Temperature: {{ observation.airTemperature }}</p>
        <p>Feels Like Temperature: {{ observation.feelsLikeTemperature }}</p>
        <p>Wind Speed: {{ observation.windSpeed }}</p>
        <p>Wind Gust: {{ observation.windGust }}</p>
        <p>Wind Direction: {{ observation.windDirection }}</p>
        <p>Cloud Cover: {{ observation.cloudCover }}</p>
        <p>Sea Level Pressure: {{ observation.seaLevelPressure }}</p>
        <p>Relative Humidity: {{ observation.relativeHumidity }}</p>
        <p>Precipitation: {{ observation.precipitation }}</p>
        <p>Condition Code: {{ observation.conditionCode }}</p>
    {% else %}
        <p>No observation found for the specified time.</p>
    {% endif %} -->

    <!-- data fetched from the db an api  -->
    {% if weather_from_db %}
        <p>Observation Time: {{ weather_from_db.date|date:"Y-m-d" }}</p>
        <p>Temperature: {{ weather_from_db.temperature }}</p>
    {% else %}
        <p>No observation found.</p>
    {% endif %}
</body>
</html>
