{% extends 'base.html' %}

{% block content %}
    <div class="container mt-4">
        <h1>Website Fixes</h1>

        <a href="{% url 'add_website_fix' %}" class="btn btn-sm btn-primary mb-2">Add new fix</a>

        <table class="table table-striped" id="example">
            <thead>
                <tr>
                    <th>Date Added</th>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Tags</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for fix in fixes %}
                    <tr>
                        <td>{{ fix.date_created|date:"Y-m-d" }}</td>
                        <td><a class="text-dark" href="{% url 'edit_website_fix' fix.id %}">{{ fix.title }}</a></td>
                        <td>{{ fix.date_created|date:"Y-m-d" }} {{ fix.date_created|time:"H:i" }}</td>
                        <td>
                            {% if fix.status == 'Fixed' %}
                                <span class="badge badge-success">{{ fix.status }}</span>
                            {% else %}
                                <span class="badge badge-danger">{{ fix.status }}</span>
                            {% endif %}
                        </td>
                        <td>
                            {% for tag in fix.tags.all %}
                                {{ tag.name }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            <a href="{% url 'delete_website_fix' fix.id %}" class="btn btn-sm btn-danger">Delete</a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4">No fixes recorded yet.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
