{% extends 'base.html' %}

{% block content %}
    <h1>Welcome to Lifeapi</h1>
    <p><script type="text/javascript" src="https://day.lt/dienos_info?format=[metai]-ųjų [menuo_txt_klm] [diena_nr2] diena[n][savaites_txt_maz]"></script></p>
    
    <p>Šios dienos vardadieniai: <script type="text/javascript" src="https://day.lt/dienos_vardadieniai?charset=utf"></script></p>
    
    <script type="text/javascript" src="https://day.lt/dienos_info?format=Dienos patarlė: [patarle][n]&charset=utf"></script>
    <br>
    <script type="text/javascript" src="https://day.lt/dienos_info?format=Diena nuo metų pradžios: [metu_diena][n]"></script>
    <br>
    <script type="text/javascript" src="https://day.lt/dienos_info?format=Savaite nuo metų pradžios: [savaites_nr][n]"></script>
    <br>
    <script type="text/javascript" src="https://day.lt/dienos_info?format=Horoskopo ženklas: [horoskopas][n]&charset=utf"></script>
    <br>
    <script type="text/javascript" src="https://day.lt/dienos_info?format=Dienos patarlė: [patarle][n]&charset=utf"></script>
    <br>
    <script type="text/javascript" src="https://day.lt/dienos_info?format=Dienos šventė: [svente][n]&charset=utf"></script>

    
    
    {% endblock %}