{% extends 'base.html' %}

<!-- foreign key relationship of Answer TO Question model allows to use answer_set. "reverse relation"!!!! -->

{% block content %}

<h2>Data Table</h2>
<p>
  Total number of answers in your ({{ user }}) database: {{ answers|length }}
</p>

<div class="table-responsive expand">
  <table class="table" id="data_table">
    <thead>
      <tr>
        <th class="vertical wide-column">Date</th>
        <th class="vertical">Temperature</th>
        {% for question in questions %}
        <th class="vertical">{{ question.description }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for entry in data_to_display %}
      <tr>
        <!-- https://docs.djangoproject.com/en/dev/ref/templates/builtins/?from=olddocs#date -->
        <td>{{ entry.date|date:"Y-m-d" }}, {{ entry.date|date:"D" }}</td>
        <td>{{ entry.temperature }}</td>
        {% for answer in entry.answers %}
        <td class="answer-field">
          {% if answer.answer == 'YES' %}
          <span class="green">{{ answer.answer }}</span>
          {% elif answer.answer == 'NO' %}
          <span class="red">{{ answer.answer }}</span>
          {% endif %}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
