{% extends 'base.html' %}

{% block content %}
    <h2>Data Table</h2>

    <p>This table gets populated in such a way:</p>
    <ul>
        <li>Daily, at 17:00 (with a help of cron job) a weather entry is fetched from an api</li>
        <li>It is stored to the DB and then displayed in this table</li>
        <li>User submits answers for a specific day</li>
        <li>A check is made if there is a row with a weather entry of the same day that the answer was submitted</li>
        <li>If there is not - answers are not getting displayed</li>
        <li>If thre is - answers are getting displayed only for that specific day of the weather entry</li>
        <li>So in theory weather fetching is crucial - without it - the whole thing breaks :D And weather api is the thing I do not control.. so..</li>
    </ul>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th class="vertical wide-column">Date</th>
                    <th class="vertical">Temperature</th>
                    {% for question in yn_questions %}
                        <th class="vertical">{{ question.description }}</th>
                    {% endfor %}
                    {% for question in scale_questions %}
                        <th class="vertical">{{ question.description }}</th>
                    {% endfor %}
                    {% for question in text_questions %}
                        {% if question.description != "Journal" and question.description != "Learn" %}
                            <th class="vertical">{{ question.description }}</th>
                        {% endif %}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for weather_entry in weather_entries|dictsortreversed:'date' %}
                    <tr>
                        <td>{{ weather_entry.date|date:"Y-m-d" }}</td>
                        <td>{{ weather_entry.temperature }}</td>
                        {% for question in yn_questions %}
                            {% for answer in question.answer_set.all %}
                                {% if answer.date_added.date == weather_entry.date %}
                                    <td class="answer-field">{% if answer.answer == 'YES' %}<span class="green">{{ answer.answer }}</span>{% elif answer.answer == 'NO' %}<span class="red">{{ answer.answer }}</span>{% endif %}</td>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                        {% for question in scale_questions %}
                            {% for answer in question.answer_set.all %}
                                {% if answer.date_added.date == weather_entry.date %}
                                    <td class="answer-field">{{ answer.answer }}</td>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                        {% for question in text_questions %}
                            {% if question.description != "Journal" and question.description != "Learn" %}
                                {% for answer in question.answer_set.all %}
                                    {% if answer.date_added.date == weather_entry.date %}
                                        <td class="answer-field">{{ answer.answer }}</td>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
