{% extends 'base.html' %}

{% block content %}
    <h1>Edit Question</h1>

    <form method="post">
        {% csrf_token %}
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" value="{{ question.description }}" required>
        <label for="sequence">Sequence:</label>
        <input type="text" id="sequence" name="sequence" value="{{ question.sequence }}" required>
        <button type="submit">Save Changes</button>
    </form>

    <a href="{% url 'user_questions' %}">Cancel</a>
{% endblock %}