{% extends 'base.html' %}

{% block content %}
    <h1>Questions</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Description</th>
                <th>Question type</th>
            </tr>
        </thead>
        <tbody>
            {% for question in questions %}
                <tr>
                    <td>{{ question.id }}</td>
                    <td>{{ question.description }}</td>
                    <td>{{ question.type}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'quiz_add_question' %}" class="btn btn-primary">Add Question</a>
{% endblock %}