{% extends 'base.html' %} {% load custom_filters %} {% block content %}
<div class="d-flex justify-content-center align-items-center vh-100">
  <div>
    <small>{{selected_date}}</small>
    <h2>Question:</h2>
    <p>{{ question.description }} ?</p>
    <form
      action="{% url 'quiz_question' question_id=question.id %}"
      method="POST"
      class="text-center"
    >
      {% csrf_token %}
      <input type="hidden" name="question_id" value="{{ question.id }}" />
      <input type="hidden" name="answer" value="" />
      <button
        type="submit"
        name="answer"
        value="YES"
        class="btn btn-success btn-lg mx-2"
      >
        YES
      </button>
      <button
        type="submit"
        name="answer"
        value="NO"
        class="btn btn-danger btn-lg mx-2"
      >
        NO
      </button>
    </form>
  </div>
</div>
{% endblock %}
