.red-underline {
    color: rgb(223, 40, 40);
    font-size: large;
    text-decoration: underline;
}

.vertical {
    writing-mode: vertical-rl;
}

th.wide-column {
    padding-right: 100px;
}

header:not(.authenticated) {
    background-color: red !important;
    padding-bottom: 2px;
}

header.authenticated {
    background-color: green !important;
    padding-bottom: 2px;
}