.red-underline {
    color: rgb(223, 40, 40);
    font-size: large;
    text-decoration: underline;
}

.vertical {
    writing-mode: vertical-rl;
}

th.wide-column {
    padding-right: 100px;
}

header:not(.authenticated) {
    background-color: red !important;
    padding-bottom: 2px;
}

header.authenticated {
    background-color: green !important;
    padding-bottom: 2px;
}

th:first-child, td:first-child
{
  position:sticky;
  left:0px;
  background-color:lightgray;
}

.expand {
    width: 100vw;
    max-width: 100vw;
    margin-left: calc(-50vw + 50%);
}
