{% extends 'base.html' %}

{% block content %}
    <div class="container mt-4">

        <marquee behavior="scroll" direction="left">
            <p>
                Date: {% now "Y-m-d" %} | Total Unsolved Fixes: {{ total_fixes_count }}  
            </p>
        </marquee>

        <h1>Website Fixes</h1>

        {% if user.is_authenticated %}
            <form method="get">
                {% csrf_token %}
                {{ view_form.as_p }}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <br>
        {% endif %}

        <a href="{% url 'add_website_fix' %}" class="btn btn-sm btn-primary mb-2">Add new fix</a>

        <table class="table table-striped" id="example">
            <thead>
                <tr>
                    <th>Date Added</th>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Tags</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for fix in fixes %}
                    <tr>
                        <td>{{ fix.date_created|date:"Y-m-d" }} {{ fix.date_created|time:"H:i" }}</td>
                        <td><a class="text-dark" href="{% url 'preview_website_fix' fix.id %}">{{ fix.title }}</a></td>
                        <td>
                            {% if fix.status == 'Done' %}
                                <span class="badge badge-success">{{ fix.status }}</span>
                            {% elif fix.status == 'In Progress' %}
                                <span class="badge badge-warning">{{ fix.status }}</span>
                            {% else %}
                                <span class="badge badge-danger">{{ fix.status }}</span>
                            {% endif %}
                        </td>
                        <td>
                            {% for tag in fix.tags.all %}
                                {{ tag.name }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            <a href="{% url 'edit_website_fix' fix.id %}" class="btn btn-sm btn-info">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                            <a href="{% url 'delete_website_fix' fix.id %}" class="btn btn-sm btn-danger">
                                <i class="fas fa-times"></i>
                            </a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4">No fixes recorded yet.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
